build
dist
cpp_linter_hooks.egg-info
cpp_linter_hooks/__pycache__/
tests/.coverage
tests/__pycache__
.coverage
coverage.xml
__pycache__
venv
.venv
result.txt
testing/main.c
*/*compile_commands.json
testing/benchmark_results.txt

# Ignore Python wheel packages (clang-format, clang-tidy)
clang-tidy-1*
clang-tidy-2*
clang-format-1*
clang-format-2*

# Ignore CodeSpeed folder
.codspeed/
